
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* Above code was found on CSS-Tricks at https://css-tricks.com/snippets/css/clear-fix/ */


body {
  margin:0 0;
  padding: 0 0;
}

.index-header {
/* Make the header and footer a different color from the background */
    background:#999;
}

.index-header h1 {
/* Align the h1 containing your name in the center of the header*/
    text-align: center;
    margin: 0;
    padding:10px 0;
}

.main-page {
/* Give your page a fun background color */
    background:#39CCCC;
    float:left;
    max-width:100%;
    width:100%;
}

.main-page li {
/* Change the font-family of your list */
    font-family: Verdana;
}

.image-main {
    float:right;
    max-width:100%;
    height:auto;
/* Put a border around your image */
    border: 5px solid #111;
    overflow: hidden;
}

.index-footer {
    background:#DDD;
    position:fixed;
    width: 100%;
    bottom: 0;
}

.index-footer p {
/* Make your p tag a different color and italic */
    color:#9400D3;
    font-style: italic;
    padding: 6px 5px;
}
